<!DOCTYPE html>
<html lang="en">
    {{>header}}
     
    <body> 
        {{>nav}}

        <h1> About Page </h1>
        <br>
        <main>
            <table id="table">
                <thead>
                    <th> email </th>
                    <th> country </th>
                </thead>
                <tbody></tbody>
            </table>
        </main>

       
        <script src="../js/nav_toggle.js"></script>
        <script src="../js/table.js"></script>   
    </body>
</html>