<!DOCTYPE html>
<html>

    {{>header}}    
    <body>

        <nav class="navbar">
            <div class="brand-title"> S & I Logistics </div>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/chat"> Chat</a></li>
                    <li><a href="/about">About</a></li>
                    
                </ul>
            </div>  
        </nav>
        
        <div class="full-screen-container"> 
            <form>
                <div class="login-container">
                    <h3 class="login-title"> Enter Email used to sign up below. A password reset link will be sent to your email </h3>
                    
                    <div class="input-group">
                        <label> Email: </label> 
                        <input type="email">
                        <button type="submit" class="login-button"> Reset Password </button> 
                    </div>
                    
                
                </div> 
                  
            </form>
        </div>    

        
        <script src="../js/nav_toggle.js"></script>
    </body>
</html>