<!DOCTYPE html>
<html lang="en">
  <!--
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="../css/navbar_styles.css" rel="stylesheet">
      <link href="../css/login_styles.css" rel="stylesheet">
    </head>
  -->
  {{>header}}
  <body>
    
   
        <!--
        <nav class="navbar">
            <div class="brand-title"> S & I Logistics </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/chat"> Chat</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>    
        </nav>
        -->
        {{>nav}}
  
  

        <!--
        <p><table id='tab' class="table table-bordered table-responsive table-hover">

        </table>
        </p>
      -->
        <p> <table id='tab' class="content-table"> </table> </p>
   
    </div> 
   
  <div class="full-screen-container"> 
        
  </div>  
  <br>

 
    
    <script src="../js/nav_toggle.js"></script>
    <footer> Created by Ikechukwu Okanu </footer>   
  </body>
</html>