<!DOCTYPE html>
<html lang="en">

    {{>header}}
  <body>
    
   
        
    {{>nav}}
  
  


    <p> <table id='tab' class="content-table"> </table> </p>
   
    <div> 
   
    <div class="full-screen-container"> 
        
    </div>  
    <br>

 
    
    <script src="../js/nav_toggle.js"></script>
    <footer> Created by Ikechukwu Okanu </footer>   
  </body>
</html>