<!DOCTYPE html>
<html lang="en">
    {{>header}}    
    <body>
        {{>nav}}

        <div class="full-screen-container">

            <div class="login-container">
                <h3 class="login-title"> Sign Up </h3>
                <form action="/teamates" method="POST">
                    <div class="input-group">
                        <label> Email </label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <p></p>
                    <div class="input-group">
                        <label> country / location :</label>
                        {{>countries}}
                    </div>
                    <p></p>
                    <div class="input-group">
                        <label> Password </label>
                        <input type="password" name="password" required>
                    </div>
                    <p></p>
                    <div class="input-group">
                        <label>Confirm Password </label>
                        <input type="password" name="confirmpass" required>
                    </div>
                    <p></p>
                    <button type="submit" class="login-button"> sign up </button>
                </form>

            </div>

        </div>
        <script src="../js/nav_toggle.js"></script> 
        <script src="../socket.io/socket.io.js"></script>   
    </body>

</html>