<head> 
    <title> About Us  </title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../css/navbar_styles.css" rel="stylesheet">
    <link href="../css/tablecss.css" rel="stylesheet">
    <link href="../css/login_styles.css" rel="stylesheet">
</head>