<nav class="navbar">
    <div class="brand-title"> S & I Logistics </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/chat"> Chat</a></li>
            <li><a href="/about">About</a></li>
            
        </ul>
    </div>  
    <form method="POST" action="/teamates/logout"></form>
        <button type="submit" class="logout-button"> logout </button>
    </form>    
    <br> 
</nav>