<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../css/navbar_styles.css" rel="stylesheet">
    <link href="../css/login_styles.css" rel="stylesheet">
  </head>
 
  <body>
    
   
    <nav class="navbar">
      <div class="brand-title"> S & I Logistics </div>
      <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </a>
      <div class="navbar-links">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/chat">chat</a></li>
              <li><a href="/contact">contact</a></li>
          </ul>
      </div>    
    </nav> 
  
  

        <!--
        <p><table id='tab' class="table table-bordered table-responsive table-hover">

        </table>
        </p>
      -->
        <p> <table id='tab' class="content-table"> </table> </p>
   
    </div> 
   
  <div class="full-screen-container"> 
        
  </div>  
  <br>

 
    
    <script src="../js/nav_toggle.js"></script>
    <footer> Created by Ikechukwu Okanu </footer>   
  </body>
</html>