<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../css/navbar_styles.css" rel="stylesheet">
    <link href="../css/login_styles.css" rel="stylesheet">
  </head>
 
  <body>
    
   
    <nav class="navbar">
      <div class="brand-title"> S & I Logistics </div>
      <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </a>
      
      <div class="navbar-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>    
    </nav> 
  
    <p><table id='tab' class="content-table"></table></p>
        

 
    
   
  <div class="full-screen-container"> 
    <form method="POST" action="/teamates">
      <h3 class="login-title"> Login </h3>
      <div class="input-group">
          <label> Email </label>
          <input type="email">
      </div>
      <p>Hello</p>
      <div class="input-group">
          <label> Password </label>
          <input type="password">
      </div>
      <p>Hello 2</p>
      <button type="submit" class="login-button"> Sign In </button>
      <a href="/forgot">Forgot Password?</a>
    <br>
    <br>
    <p> New Member?  <a href="/signup">Sign Up</a>
    <br>
    </form>
    <footer> Created by Ikechukwu Okanu </footer> 
  </div>  
  <br>

  <script src="../js/nav_toggle.js"></script>
    
  </body>
</html>